# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SPP Visualization/.vs/**
SPP Visualization/.vs/SPP Visualization
SPP Visualization/Debug/**
SPP Visualization/x64/**
SPP Visualization/x86/**